@font-face {
    font-family: "iconfont"; /* Project id 2858778 */
    src: url('//at.alicdn.com/t/c/font_2858778_ge8t5amec0h.woff2?t=1683448951907') format('woff2'),
    url('//at.alicdn.com/t/c/font_2858778_ge8t5amec0h.woff?t=1683448951907') format('woff'),
    url('//at.alicdn.com/t/c/font_2858778_ge8t5amec0h.ttf?t=1683448951907') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
    content: "\e62d";
}

.icon-fabu:before {
    content: "\e621";
}

.icon-link:before {
    content: "\e614";
}

.icon-topic:before {
    content: "\e60e";
}

.icon-pinglunxiao:before {
    content: "\e8b9";
}

.icon-shangzhankai:before {
    content: "\e634";
}

.icon-xiazhankai:before {
    content: "\e635";
}

.icon-jiesuo:before {
    content: "\e669";
}

.icon-shoucang3:before {
    content: "\e86e";
}

.icon-dianzan_kuai:before {
    content: "\ec8c";
}

.icon-anniu_jiantoushouqi_o:before {
    content: "\eb89";
}

.icon-shoucang2:before {
    content: "\e666";
}

.icon-fenxiang1:before {
    content: "\e625";
}

.icon-qingchu:before {
    content: "\e747";
}

.icon-meiyoushuju:before {
    content: "\e60b";
}

.icon-edit:before {
    content: "\e7e1";
}

.icon-shoucang:before {
    content: "\e86d";
}

.icon-shoucang1:before {
    content: "\e906";
}

.icon-pinglun:before {
    content: "\e654";
}

.icon-vip:before {
    content: "\e62f";
}

.icon-chakan:before {
    content: "\e600";
}

.icon-iconmore-copy:before {
    content: "\e62e";
}

.icon-dianzan:before {
    content: "\ec7f";
}

.icon-more:before {
    content: "\e66c";
}

